body {
    background-color:  #dedede;
    font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  padding-left: 0;
}

.cart-container {
    padding-left: 25px;
}

.zoom-container {
    height: 100vh;
    background-color: #000000;
}

.zoom-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.zoom-container h2 {
    font-family: Arial;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    padding-top: 40px;
}

.btn-purple {
    width: 80px;
    height: 38px;
    border-radius: 4px;
    background-color: #6a1b9a;
    background-size: cover;
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
}

.btn-large {
    max-width: 300px;
}

.panel-card {
    border-radius: 4px;
    background: transparent;
    border: none;
}

.panel-card .card-body {
    padding: 0;
}
.panel-card .card-body .card-text strong{
    color: #6a1b9a;
    font-size: 14px;
}

#searchInput {
    height: 40px;
}

#user-details-panel {
    display: none;
}
.btn-search {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #e91e63;
    background-size: 52% 55%;
    background-position: 50% 50%;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
}

.item-count {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #d50000;
    background-size: cover;
    position: absolute;
    font-family: Arial;
    padding-top: 3px;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    left: 38px;
    top: -10px;
}

.btn-view-cart {
    width: 100px;
    height: 37px;
    border-radius: 4px;
    background-color: #e91e63;
    background-size: cover;
    font-family: Arial;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
}

.after_modal_appended {  
  position:relative;
  height: 100vh;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

.modal-backdrop {
    opacity: 0.7;
    left: -15px;
}

#cartModal .modal-header {
    background-color: #9c27b0;
    font-family: Arial;
    font-size: 24px;
    color: #ffffff;
    padding: 10px 22px 2px 18px;

}

#cartModal .modal-header .modal-title { 
    font-size: 20px;
}
.amount-content strong {
   
font-size: 20px;
   
color: #000000;
   
font-weight: bold;
}
.amount-content .totalAmount {
    font-size: 20px;
    color: #d50000;
    font-weight: bold;
}

.product-container table thead.thead-dark th {
    background-color: #616161;
    border: none;
    font-size: 16px;
    font-weight: normal;
}
.product-container table tbody {
    background-color: #fff;
 }
.product-container table tbody tr td {
 background-color: #ffffff;
}
.product-container .product-image {
    max-width: 80px;
    max-height: 100px;
}

.product-container h4.product-name,
.product-container h4.product-price {
    font-size: 14px;
    font-weight: bold;
}

.product-container h4.product-price {
    color: #ff0000;
}

.product-container .input-qty {
    width: 35px;
    height: 35px;
    padding: 0px 8px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    background-color: #ffffff;
    background-size: cover;
    font-family: Arial;
    font-size: 14px;
    color: #121212;
}

.add-to-cart-btn {
    width: 70px;
    height: 35px;
    border-radius: 4px;
    background-color: #e91e63;
    background-size: cover;
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.btn-submit-cart {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background-color: #e91e63;
    background-size: cover;
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
.search-error {
    font-size: 14px;
    color: #ff0000;
    display: none;
}
.modal-header .close {
   
    font-size: 36px;
    color: #fff;
    margin-top: -16px;
    opacity: 1;
}

.input-qty:disabled {
    background-color: #ddd;
}

.modal-success .modal-header {
    background-color: #19a81e;
 }
 
 .modal-success .modal-header .modal-title {
     color: #fff;
     font-size: 20px;
 }
 
 .modal-success .close {
     opacity: 1 !important;
     outline: none;
 }
 
 .modal-success .close span {
     background-image: url(../images/close.png);
     width: 24px;
     height: 24px;
     display: inline-block;
 }
 
 .carticon {
    width: 40px;
    height: 40px;
 }

 .table-container {
     height: 400px;
     overflow-y: scroll;
     overflow-x: hidden;
     margin-bottom: 20px;
 }

 .removeProduct {
     cursor: pointer;
     
 }

 a.updateProduct {
    font-size: 14px;
}

#spriteAnim {
    width: 190px;
    height: 240px;
}

#manAnim {
    width: 435px;
    height: 267px;
}